<div class="product-gallery">
    <div class="media-container">
        <div class="main-image">
            <lib-ngx-image-zoom *ngIf="!isVideo()" [thumbImage]="selectedImageUrl" [fullImage]="selectedImageUrl"
                [magnification]="1" [zoomMode]="'hover'" [enableLens]="true" [lensWidth]="150" [lensHeight]="150"
                class="zoomed-img">
            </lib-ngx-image-zoom>

            <video *ngIf="isVideo()" [src]="selectedImageUrl" controls width="100%"></video>
        </div>
    </div>
    <swiper-container *ngIf="productImages.length > 0" [slidesPerView]="4" [spaceBetween]="10"
        [pagination]="{ clickable: true, dynamicBullets: true }" [navigation]="true" class="product-thumbnails">
        <swiper-slide *ngFor="let img of productImages">
            <img [src]="img.image_url" [alt]="'Thumbnail'" class="thumbnail" (click)="onMediaClick(img.image_url)" />
        </swiper-slide>
    </swiper-container>
</div>