<!-- Shop Section Begin -->
<section class="com-shop py-4">
    <div class="container">
        <div class="row">
            <aside class="col-xl-3 col-lg-4 sidebar">
                <div class="card mb-3 block-sidebar">
                    <div class="card-header border-bottom-0 p-0 block-sidebar-header">
                        <h4 class="block-sidebar-title">Categories</h4>
                    </div>
                    <div class="card-body block-sidebar-content">
                        <app-featured-category
                            [categories]="categories"
                            [styleType]="'sidebar'"
                            [selectedCategoryId]="selectedCategoryId"
                            (categorySelected)="onCategorySelect($event)">
                        </app-featured-category>
                    </div>
                </div>
                <div class="card mb-3 block-sidebar">
                    <div class="card-header border-bottom-0 p-0 block-sidebar-header">
                        <h4 class="block-sidebar-title">Filter Types</h4>
                    </div>
                    <div class="card-body block-sidebar-content">
                        <div class="filter-chips">
                            <button class="btn btn-dark me-2" (click)="applyFilter('featured')">Featured</button>
                            <button class="btn btn-dark" (click)="applyFilter('new')">New</button>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="col-xl-9 col-lg-8">
                <app-product-list 
                    [minPrice]="minPrice ?? undefined" 
                    [maxPrice]="maxPrice ?? undefined" 
                    [categoryId]="selectedCategoryId" 
                    (productCountChanged)="productCountChanged($event)">
                </app-product-list>
            </div>
        </div>
    </div>
</section>
<!-- ./Shop Section Begin -->