
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8">
      <div class="auth-wrapper">
        <div class="auth-top text-center mb-30">
          <h3 class="auth-title">Sign Up to<span class="mb-0 d-none d-md-block logo-text">ng<span>C</span>ommerce</span></h3>
          <p>
            Already have an account? 
            <span>
              <a routerLink="/login" href="javascript.void();" class="text-secondary">Sign In</a>
            </span>
          </p>
        </div>

        <div class="auth-option">
          <form (ngSubmit)="register()">
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="user.userName" id="userName" name="userName" placeholder="Username" class="form-control" required />
              <label for="userName">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" [(ngModel)]="user.email" id="email" name="email" placeholder="Email" class="form-control" required />
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" [(ngModel)]="user.userPassword" id="userPassword" name="userPassword" placeholder="Password" class="form-control" required />
              <label for="userPassword">Password</label>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="text" [(ngModel)]="user.first_name" id="first_name" name="first_name" placeholder="First Name" class="form-control" required />
                  <label for="first_name">First Name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="text" [(ngModel)]="user.last_name" id="last_name" name="last_name" placeholder="Last Name" class="form-control" required />
                  <label for="last_name">Last Name</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="user.street" id="street" name="street" placeholder="Street" class="form-control" required />
              <label for="street">Street</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="user.city" id="city" name="city" placeholder="city" class="form-control" required />
              <label for="city">City</label>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" [(ngModel)]="user.state" id="state" name="state" placeholder="state" class="form-control" />
                  <label for="state">State</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" [(ngModel)]="user.zip_code" id="zip_code" name="zip_code" placeholder="Zip Code" class="form-control" required />
                  <label for="zip_code">Zip Code</label>
                </div>
              </div>
            </div>
            <button class="btn btn-lg btn-dark w-100 mt-3" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form (ngSubmit)="register()">
  <input [(ngModel)]="user.name" name="name" placeholder="Username" required />
  <input [(ngModel)]="user.email" name="email" placeholder="Email" required />
  <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required />
  <input [(ngModel)]="user.first_name" name="first_name" placeholder="First Name" required />
  <input [(ngModel)]="user.last_name" name="last_name" placeholder="Last Name" required />
  <input [(ngModel)]="user.street" name="street" placeholder="Street" required />
  <input [(ngModel)]="user.city" name="city" placeholder="City" required />
  <input [(ngModel)]="user.state" name="state" placeholder="State" />
  <input [(ngModel)]="user.zip_code" name="zip_code" placeholder="Zip Code" required />
  <button type="submit">Register</button>
</form> -->