<!-- Footer -->
<footer class="footer">

    <!-- Footer - top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3 order-2 order-md-1">
                    <div class="d-flex align-items-center justify-content-start footer-top-left">
                        <app-socials class="d-block w-100"></app-socials>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 order-1 order-md-2">
                    <div class="d-flex align-items-center justify-content-end footer-top-right">
                        <div class="d-flex flex-column align-items-end w-100 newsletter">
                            <p class="m-0 text-uppercase">Subscribe to our newsletter</p>
                            <div class="input-group mt-2">
                                <input type="text" class="form-control" placeholder="Recipient’s email address" aria-label="Recipient’s username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Footer - top -->

    <!-- Footer - middle -->
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3 order-2 order-md-1">
                    <div
                        class="d-flex flex-column align-items-center justify-content-start h-100 footer-middle-left">
                        <div class="d-flex w-100 pb-0 footer-block">
                            <div class="d-flex w-100 align-content-center justify-content-center footer-logo">
                                <h2 class="mb-0 logo-text">ng<span>C</span>ommerce</h2>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100 contact-info">
                            <!-- <h3 class="text-uppercase contact-info--header">Contact Us</h3> -->
                            <ul class="m-0 list-unstyled contact-info-items">
                                <li class="contact-info-item">
                                    <a class="d-flex align-items-center justify-content-start contact-info-item-link"
                                        href="https://www.google.com/maps/place/Shapla+Chattar/@23.7271848,90.4205022,18.5z/data=!4m13!1m7!3m6!1s0x3755b85c366afdaf:0x63cbcd8b4dfb9d3c!2sMotijheel,+Dhaka!3b1!8m2!3d23.7329724!4d90.417231!3m4!1s0x3755b84ef80a62ed:0xbcf531cd3b645413!8m2!3d23.7266207!4d90.4215769"
                                        target="_blank">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div>
                                            Shapla Chattar, Motijheel, Dhaka
                                        </div>
                                    </a>
                                </li>
                                <li class="contact-info-item">
                                    <a class="d-flex align-items-center justify-content-start contact-info-item-link" href="mailto:abc@xyz.com?subject=Feedback">
                                        <i class="far fa-envelope"></i>
                                        <div>
                                            abc&#64;xyz.com
                                        </div>
                                    </a>
                                </li>
                                <li class="contact-info-item">
                                    <a class="d-flex align-items-center justify-content-start contact-info-item-link" href="tell:00111222333">
                                        <i class="fas fa-mobile-alt"></i>
                                        <div>
                                            00 111 222 333
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="d-flex flex-column w-100 cards-accept">
                            <h4 class="cards-accept--header">We accepts:</h4>
                            <ul class="cards-accept--items">
                                <li class="cards-accept--item">
                                    <span></span>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 order-1 order-md-2">
                    <!-- <div class="d-flex align-items-center justify-content-start footer-wrapper--middle-right"> -->
                    <div class="row  footer-middle-right">
                        <div class="col-4 col-md-4">
                            <div class="d-flex w-100 pb-0 px-0 footer-block">
                                <dl class="mb-0 footer-block-links">
                                    <dt class="pb-2 text-uppercase">Browse by Category</dt>
                                    <dd>
                                        <a class="d-block" href="#" title="All Popular">All Popular</a>
                                        <a class="d-block" href="#" title="Product">Product</a>
                                        <a class="d-block" href="#" title="Promotion">Promotion</a>
                                        <a class="d-block" href="#" title="Low Price">Low Price</a>
                                        <a class="d-block" href="#" title="Reviews">Reviews</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-4 col-md-4">
                            <div class="d-flex w-100 pb-0 px-0 footer-block">
                                <dl class="mb-0 footer-block-links">
                                    <dt class="pb-2 text-uppercase">Payment & Shipping</dt>
                                    <dd>
                                        <a class="d-block" href="#" title="Terms of Use">Terms of Use</a>
                                        <a class="d-block" href="#" title="Payment Methods">Payment Methods</a>
                                        <a class="d-block" href="#" title="Shipping Guide">Shipping Guide</a>
                                        <a class="d-block" href="#" title="Locations We Ship To">Locations We Ship To</a>
                                        <a class="d-block" href="#" title="Estimated Delivery Time">Estimated Delivery Time</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-4 col-md-4">
                            <div class="d-flex w-100 pb-0 px-0 footer-block">
                                <dl class="mb-0 footer-block-links">
                                    <dt class="pb-2 text-uppercase">Help</dt>
                                    <dd>
                                        <a class="d-block" href="#" title="Customer Service">Customer Service</a>
                                        <a class="d-block" href="#" title="Disputes & Reports">Disputes & Reports</a>
                                        <a class="d-block" href="#" title="Buyer Protection">Buyer Protection</a>
                                        <a class="d-block" href="#" title="Return Policy">Return Policy</a>
                                        <a class="d-block" href="#" title="Forum Support">Forum Support</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer - middle -->

    <!-- Footer - bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start footer-bottom-left">
                        <small class="m-0">Copyright &copy; 2025. All rights reserved.</small>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end footer-bottom-right">
                        <div class="d-flex flex-column w-100 cards-accept">
                            <!-- <h4 class="cards-accept--header">We accepts:</h4> -->
                            <app-cards></app-cards>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer - middle -->

</footer>
<!-- ./Footer -->