@import 'bootstrap-bp.scss';

.footer {
    $this: footer !default;

    background-color: rgb(var(--clr-white));

    &-wrapper {

    }

    .newsletter {
        max-width: 600px;

        .btn {
            color: rgb(var(--clr-white));
        }
    }

    &-top {
        background-color: rgba(var(--clr-primary-light), 0.5);

        &-left, &-right {
            min-height: 95px;

            @include media-breakpoint-down(sm) {
                min-height: 60px;
            }
        }

        &-left {
            background-color: rgba(var(--clr-primary-dark), 0.7);
            color: rgb(var(--clr-white));
        }
    }

    &-middle {
        background-color: rgb(var(--clr-white));

        &-left, &-right {
            // min-height: 235px;
        }

        &-left {
            background-color: rgb(var(--clr-gray-light));
        }
    }

    &-bottom {
        background-color: rgb(var(--clr-gray));

        &-left, &-right {
            min-height: 42px;
        }
    }

    &-block {
        padding: 30px 15px;

        &-links {
            dt {

            }

            dd {

            }

            a {
                padding-bottom: 7px;
            }
        }
    }

    &-logo {
        img {
            max-width: 80%;
        }
    }
}

.contact-info {
    $this: contact-info;

    padding: 20px;

    &-header {

    }

    &-items {
        
    }

    &-item {
        &:last-child {            
            .#{$this}-item-link {
                border-bottom: 0;
            }
        }
    }

    &-item-link {
        padding: 10px 0;
        border-bottom: 1px dotted rgb(var(--clr-primary-custom));
        
        i {
            width: 20px;
            margin-right: 7px;
            text-align: center;
        }        
    }
}

.mobile-footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}