<div class="row">
    <div class="col-12 col-md-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-start header-bottom-left">
            <div class="d-flex w-100 navbar-categories" [ngClass]="(routeUtils.isCurrentRoute('/home') | async) ? 'navbar-home' : ''">
                <nav class="w-100 navbar">
                    <ul class="w-100 navbar-nav">
                        <li class="nav-item dropdown dropdown-slide">
                            <a class="d-flex align-items-center justify-content-between text-uppercase nav-link dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>All Categories</span>
                                <fa-icon [icon]="faListUl"></fa-icon>
                            </a>
                            <ul class="py-1 py-md-0 position-absolute float-start dropdown-menu dropdown-categories"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li class="d-flex dropdown dropdown-item" *ngIf="categories.length === 0">
                                    Loading Categories..
                                </li>
                                @for (c of getVisibleCategories(); track c.id) {
                                    <li class="d-flex dropdown dropdown-item" [ngClass]="'dropdown-item--' + c.name">
                                        <a 
                                            [routerLink]="['/product/shop']" [queryParams]="{ categoryId: c.id }"
                                            class="d-flex align-items-center w-100 dropdown-link"
                                            [title]="c.name">
                                            <img [src]="c.image" [alt]="c.name" width="35" height="30" class="dropdown-icon" />
                                            <span class="text-truncate">{{ c.name }}</span>
                                        </a>
                                    </li>
                                  }
                                <li class="d-flex dropdown dropdown-item">
                                    <a 
                                        class="d-flex align-items-center justify-content-between w-100 dropdown-link" 
                                        href="javascript:void(0)"
                                        *ngIf="categories.length > initialVisibleCount" (click)="toggleShowAll()">
                                        {{ showAll ? 'Show Less' : 'Show More' }}
                                        <fa-icon *ngIf="!showAll" [icon]="faPlus"></fa-icon>
                                        <fa-icon *ngIf="showAll" [icon]="faMinus"></fa-icon>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
        <div class="d-flex align-items-center justify-content-start header-bottom-right">
            <div class="navbar-default navbar-main w-100">
                <nav class="navbar navbar-expand-md p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item active">
                                <a class="text-uppercase nav-link" appUnderDevelopment>Flash Deals</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-uppercase nav-link" appUnderDevelopment>New Arrivals</a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="text-uppercase nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li> -->
                            <!-- <li class="nav-item">
                            <a class="text-uppercase nav-link disabled" href="#" tabindex="-1"
                                aria-disabled="true">Disabled</a>
                        </li> -->
                            <li class="nav-item">
                                <a class="text-uppercase nav-link" appUnderDevelopment>About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-uppercase nav-link" appUnderDevelopment>Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>