<!-- navbar.component.html - Fixed navigation links -->
<div class="row">
    <div class="col-12 col-md-4 col-xl-3">
        <div class="d-flex align-items-center justify-content-start header-bottom-left">
            <div class="d-flex w-100 navbar-categories" [ngClass]="(routeUtils.isCurrentRoute('/home') | async) ? 'navbar-home' : ''">
                <nav class="w-100 navbar">
                    <ul class="w-100 navbar-nav">
                        <li class="nav-item dropdown dropdown-slide">
                            <a class="d-flex align-items-center justify-content-between text-uppercase nav-link dropdown-toggle"
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"
                                (click)="onDropdownToggle($event)">
                                <span class="d-flex align-items-center gap-2">
                                    Categories 
                                </span>
                                <fa-icon [icon]="faListUl"></fa-icon>
                            </a>
                            
                            <!-- Enhanced Category Dropdown using FeaturedCategoryComponent -->
                            <div class="dropdown-menu dropdown-categories-enhanced" 
                                 [class.show]="isDropdownOpen"
                                 aria-labelledby="navbarDropdownMenuLink">
                                
                                <app-featured-category
                                    [styleType]="'list'"
                                    [categories]="categories"
                                    [navigationMode]="'custom'"
                                    [showHeader]="false"
                                    [headerTitle]="'Browse Categories'"
                                    [showSearch]="true"
                                    [searchPlaceholder]="'Find categories...'"
                                    [showAllOption]="true"
                                    [showProductCount]="true"
                                    [searchThreshold]="5"
                                    [initialVisibleCount]="4"
                                    [showToggleButton]="true"
                                    [autoExpandOnMobile]="true"
                                    (categorySelected)="onCategorySelected($event)">
                                </app-featured-category>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
        <div class="d-flex align-items-center justify-content-start header-bottom-right">
            <div class="navbar-default navbar-main w-100">
                <nav class="navbar navbar-expand-md p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="text-uppercase nav-link appUnderDevelopment" 
                                   (click)="navigateToFlashDeals()"
                                   style="cursor: pointer;">Flash Deals</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-uppercase nav-link appUnderDevelopment" 
                                   (click)="navigateToNewArrivals()"
                                   style="cursor: pointer;">New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-uppercase nav-link appUnderDevelopment" 
                                   appUnderDevelopment
                                   style="cursor: pointer;">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-uppercase nav-link appUnderDevelopment" 
                                   appUnderDevelopment
                                   style="cursor: pointer;">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>