<header class="header" [ngClass]="isHomeRoute() ? 'header-home' : ''">

    <!-- Header - top -->
    <div class="header-top d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start header-top-left">
                        <a href="mailto:demo@domain.com" class="mb-0 text-muted">
                            <i class="pe-7s-mail pegk fs-14 me-1 align-middle"></i> demo&#64;domain.com
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="d-flex align-items-center justify-content-center header-top-center">
                        <div class="header-text text-center fs-12 py-1 py-lg-0">
                            Summer sale discount off
                            <span class="text-danger">50%</span>! <a routerLink="/shop" class="text-reset">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end header-top-right">
                        <div class="text-md-end text-center">
                            <span>Call Us: 123 - 456 - 7890</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Header - top -->

    <!-- Header - middle -->
    <div class="w-100 header-middle">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-row justify-content-between w-100 flex-md-wrap flex-lg-nowrap header-middle-inner">
                        <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-lg-start pb-md-2 pb-lg-0 header-middle-left">
                            <button class="d-inline-block d-md-none navbar-toggler" type="button" (click)="toggleNavbarSidebar()">
                                <fa-icon [icon]="faBarsStaggered"></fa-icon>
                            </button>
                            <a class="d-inline-block d-md-none" routerLink="/">
                                <app-site-logo></app-site-logo>
                            </a>
                            <a class="navbar-brand d-none d-md-inline-block" routerLink="/">
                                <app-site-logo></app-site-logo>
                            </a>
                            <div class="d-flex align-items-center d-md-none justify-content-center align-items-center">
                                <fa-icon (click)="toggleSearchSidebar()" [icon]="faMagnifyingGlass" class="search-box-icon"></fa-icon>
                                <div class="mx-3 bg-gray-light divider-v">[invisible]</div>
                                <app-cart (cartClosed)="onSidebarClosed()"></app-cart>
                            </div>
                        </div>
                        <div class="d-none d-md-flex align-items-center justify-content-center header-middle-center">
                            <app-search></app-search>
                        </div>
                        <div class="d-none d-md-flex align-items-center header-middle-right">
                            <div class="d-flex align-items-center w-100" style="height: 50px;">
                                <div ngbDropdown class="d-inline-block user-dropdown" placement="bottom-right">
                                    <button type="button" id="ddUser" ngbDropdownToggle>
                                        @if (isLoggedIn) {
                                            <span class="text-uppercase">{{ firstName+' '+lastName | charInitials:{allWords: true} }}</span>
                                        } @else {
                                            <fa-icon [icon]="faUser"></fa-icon>
                                        }
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="ddUser" *ngIf="isLoggedIn">
                                        <p class="ps-3 mb-0 text-secondary-dark fs-5">{{ firstName }} {{ lastName }}</p>
                                        <button ngbDropdownItem routerLink="/auth/profile">Profile</button>
                                        <button ngbDropdownItem routerLink="/orders">Orders</button>
                                        <button ngbDropdownItem routerLink="/wishlist">Wishlist</button>
                                        <button ngbDropdownItem (click)="logout()">Logout</button>
                                    </div>
                                    <div ngbDropdownMenu aria-labelledby="ddUser" *ngIf="!isLoggedIn">
                                        <button ngbDropdownItem routerLink="/auth/login">Sign In</button>
                                        <button ngbDropdownItem routerLink="/auth/register">Sign Up</button>
                                    </div>
                                </div>
                                <div class="mx-3 bg-gray divider-v">[invisible]</div>
                                <app-cart (cartClosed)="onSidebarClosed()"></app-cart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Header - middle -->

    <!-- Header - bottom -->
    <div class="header-bottom w-100 collapsed d-none d-md-inline-block">
        <div class="container">
            <app-navbar class="d-block w-100"></app-navbar>
        </div>
    </div>
    <!-- ./Header - bottom -->

</header>

<!-- Mobile Category Navigation Sidebar -->
<app-sidebar
    id="navbarId" 
    title="Browse Categories"
    width="320px"
    class="sidebar-mobile-nav">
    <app-featured-category
        [styleType]="'list'"
        [navigationMode]="'custom'"
        [headerTitle]="'Browse Categories'"
        [showHeader]="false"
        [showSearch]="true"
        [showAllOption]="true"
        [showProductCount]="true"
        [searchThreshold]="5"
        [initialVisibleCount]="100"
        [showToggleButton]="false"
        [autoExpandOnMobile]="true"
        (categorySelected)="onCategorySelect($event)"
        class="h-100">
    </app-featured-category>
</app-sidebar>

<!-- Mobile Search Sidebar -->
<app-sidebar
    id="searchId" 
    title="Search Products"
    width="90%">
    <div class="p-3">
        <app-search></app-search>
    </div>
</app-sidebar>