<div class="d-flex align-items-center product-quantity">
    <div class="input-group product-quantity--counter">
        <span class="input-group-btn">
            <button class="btn btn-minus" type="button" (click)="decrease()" [disabled]="isDecreaseDisabled()">
                <fa-icon [icon]="faMinus"></fa-icon>
            </button>
        </span>
        <input 
            type="number"
            [value]="quantity"
            (input)="onInputChange($event)"
            (blur)="validateQuantity()"
            [min]="1"
            [max]="productVariantStock"
            class="text-center"
        >
        <span class="input-group-btn">
            <button class="btn btn-plus" type="button" (click)="increase()" [disabled]="isIncreaseDisabled()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </span>
    </div>

    <div *ngIf="showAvailable" class="ps-2 product-quantity--info">
        <span [ngClass]="{ 'text-danger': availableQuantity === 0 }">
            {{ availableQuantity }} available
        </span>
    </div>
</div>
