.icon-btn.wishlist {
    background: rgba(var(--clr-white), 0.9);
    border: 1px solid rgb(var(--clr-gray-soft));
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon-btn.wishlist:hover {
    background: rgb(var(--clr-white));
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    // transform: scale(1.1);
}

.icon-btn.wishlist.active {
    background: rgb(var(--clr-white));
    border-color: rgb(var(--clr-danger-red-alt));
}

.icon-btn.wishlist:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
}

.text-danger {
    color: rgb(var(--clr-danger-red-alt)) !important;
}

fa-icon {
    font-size: 16px;
}