<nav class="quick-menu">
    <!-- Hidden checkbox to control menu state -->
    <input type="checkbox" href="#" class="quick-menu-btn" name="quick-menu-btn" id="quick-menu-btn"/>
    
    <!-- Backdrop overlay -->
    <div class="quick-menu-overlay" (click)="onOverlayClick()"></div>
    
    <!-- Menu button -->
    <label class="quick-menu-icon" for="quick-menu-btn" aria-label="Toggle quick menu">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
    </label>
    
    <!-- Menu items -->
    <ul class="quick-menu-list">
        <li>
            <a href="javascript:void(0)" class="quick-menu-item" (click)="navigateToCart()">
                <span class="quick-menu-text">Cart</span>
                <div class="quick-menu-icon-wrapper">
                    <fa-icon [icon]="faBagShopping" class="quick-menu-list-icon"></fa-icon>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="quick-menu-item" (click)="navigateToShop()">
                <span class="quick-menu-text">Shop</span>
                <div class="quick-menu-icon-wrapper">
                    <fa-icon [icon]="faShop" class="quick-menu-list-icon"></fa-icon>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="quick-menu-item" (click)="navigateToWishlist()">
                <span class="quick-menu-text">Wishlist</span>
                <div class="quick-menu-icon-wrapper">
                    <fa-icon [icon]="faHeart" class="quick-menu-list-icon"></fa-icon>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="quick-menu-item" (click)="navigateToUser()">
                <span class="quick-menu-text">User</span>
                <div class="quick-menu-icon-wrapper">
                    <fa-icon [icon]="faUser" class="quick-menu-list-icon"></fa-icon>
                </div>
            </a>
        </li>
    </ul>
</nav>