<nav class="quick-menu">
    <input type="checkbox" href="#" class="quick-menu-btn" name="quick-menu-btn" id="quick-menu-btn"/>
    <label class="quick-menu-icon" for="quick-menu-btn">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
    </label>
    <ul class="quick-menu-list">
        <li>
            <a href="#">
                <span>Cart</span>
                <fa-icon [icon]="faBagShopping" class="quick-menu-list-icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Shop</span>
                <fa-icon [icon]="faShop" class="quick-menu-list-icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Wishlist</span>
                <fa-icon [icon]="faHeart" class="quick-menu-list-icon"></fa-icon>
            </a>
        </li>
        <li>
            <a href="#">
                <span>User</span>
                <fa-icon [icon]="faUser" class="quick-menu-list-icon"></fa-icon>
            </a>
        </li>
    </ul>
</nav>