@import 'bootstrap-bp.scss';

.main-content {
    $this: main-content !default;

    width: 100%;
    position: relative;
    left: 0;
    background-color: rgb(var(--clr-gray));
    -webkit-transition: left .4s;
    -moz-transition: left .4s;
    -ms-transition: left .4s;
    transition: left .4s;

    &-top {
        &-wrapper {
            @include media-breakpoint-up(xl) {
                padding-left: 0;
            }
        }

        &-contents {
            padding: 15px 0;

            @include media-breakpoint-up(md) {
                height: 400px;
            }

            @include media-breakpoint-up(lg) {
                height: 500px;
            }
        
            @include media-breakpoint-down(sm) {
                -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                border-radius: 4px;
            }
        }

        @include media-breakpoint-down(sm) {
            background-color: rgb(var(--clr-white)) !important;
        }
    }

    &.collapsed {        
        @include media-breakpoint-down(sm) {
            // left: $sidebar-width;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 50px;
    }
}

.mobile-gradient {
    display: none;
    width: 100%;
    height: 225px;
    position: absolute;
    top: 0;
    background: rgb(var(--clr-primary-dark));
    border-radius: 0 0 50% 50%;

    .overlay {
        width: 100%;
        height: 100%;
        // background: radial-gradient(circle, $primary-dark-color 0%, $primary-dark-color 60%, $primary-light-color 100%);
        border-radius: 0 0 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 0;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    @include media-breakpoint-down(xs) {
        height: 170px;
    }
}

.main-home {
    .mobile-gradient {
        @include media-breakpoint-down(sm) {
            display: block;
        }
    } 
    
    .main-content-top-contents {
        padding: 15px 0 20px;
    }
}