<!-- Main content -->
<main role="main" class="main-content" [ngClass]="(routeUtils.isCurrentRoute('/home') | async) ? 'main-home' : ''">
    <div class="mobile-gradient">
        <div class="overlay"></div>
    </div>

    <!-- Slider section -->
    <div class="mb-4 main-content-top">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-12 offset-lg-0 col-xl-9 offset-xl-3 main-content-top-wrapper">
                    <div class="main-content-top-contents">
                        <app-product-slider 
                            [productIds]="[13, 14, 15]"
                            [showAddToCartButton]="true"
                            [showPricing]="true"
                            [showRating]="false"
                            class="d-block h-100">
                        </app-product-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Slider section -->

    <!-- Featured category - Grid -->
    <div class="mb-5">
        <div class="container">
            <app-featured-category
                [categories]="categories"
                [styleType]="'grid'"
                [onlyCategoryIds]="[1, 3, 9, 2, 4, 5]"
                (categorySelected)="onCategorySelect($event)">
            </app-featured-category>
        </div>
    </div>
    <!-- ./Featured category - Grid -->

    <!-- Featured category - Grid -->
    <div class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <app-deal-card 
                        [productIds]="[5]"
                        [dealEndTime]="'2025-06-30T23:59:59'">
                    </app-deal-card>
                </div>

                <div class="col-12 col-xl-6">
                    <app-deal-card 
                        [productIds]="[6]"
                        [dealEndTime]="'2025-06-27T23:59:59'">
                    </app-deal-card>
                </div>
            </div>
            
        </div>
    </div>
    <!-- ./Featured category - Grid -->

    <!-- Featured product - slider -->
    <div class="pb-5">
        <div class="container">
            <div class="tab tab-highlight" role="tabpanel">
                <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Featured</a>
                    <ng-template ngbNavContent>
                        <app-product-showcase
                            [layout]="'slider'"
                            [filterType]="'featured'"
                            [limit]="8"
                            [showViewAll]="true"
                        ></app-product-showcase>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>New Arrivals</a>
                    <ng-template ngbNavContent>
                        <app-product-showcase
                            [layout]="'slider'"
                            [filterType]="'new'"
                            [limit]="8"
                            [showViewAll]="true"
                        ></app-product-showcase>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Best Sells</a>
                    <ng-template ngbNavContent>
                        <app-product-showcase
                            [layout]="'slider'"
                            [filterType]="'best-sell'"
                            [limit]="10"
                            [showViewAll]="false"
                        ></app-product-showcase>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Discounted</a>
                    <ng-template ngbNavContent>
                        <app-product-showcase
                            [layout]="'slider'"
                            [filterType]="'discounted'"
                            [limit]="10"
                            [showViewAll]="false"
                        ></app-product-showcase>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
            
            <!-- <mdb-tabs>
                <mdb-tab title="Featured">
                    <app-product-showcase
                        [layout]="'slider'"
                        [filterType]="'featured'"
                        [limit]="8"
                        [showViewAll]="true"
                    ></app-product-showcase>
                </mdb-tab>
                <mdb-tab title="New Arrivals">
                    <app-product-showcase
                        [layout]="'slider'"
                        [filterType]="'new'"
                        [limit]="8"
                        [showViewAll]="true"
                    ></app-product-showcase>
                </mdb-tab>
                <mdb-tab title="Best Sells">
                    <app-product-showcase
                        [layout]="'slider'"
                        [filterType]="'best-sell'"
                        [limit]="10"
                    ></app-product-showcase>
                </mdb-tab>
                <mdb-tab title="Discounted">
                    <app-product-showcase
                        [layout]="'slider'"
                        [filterType]="'discounted'"
                        [limit]="10"
                    ></app-product-showcase>
                </mdb-tab>
            </mdb-tabs> -->
        </div>
    </div>
    <!-- Featured product - slider -->

</main>
<!-- ./Main content -->