@import 'bootstrap-bp.scss';

.main-content {
    $this: main-content !default;

    width: 100%;
    position: relative;
    left: 0;
    background-color: rgb(var(--clr-gray));
    -webkit-transition: left .4s;
    -moz-transition: left .4s;
    -ms-transition: left .4s;
    transition: left .4s;

    &-top {
        &-wrapper {
            @include media-breakpoint-up(xl) {
                padding-left: 0;
            }
        }

        &-contents {
            padding: 15px 0;

            @include media-breakpoint-up(md) {
                height: 400px;
            }

            @include media-breakpoint-up(lg) {
                height: 500px;
            }
        
            @include media-breakpoint-down(md) {
                -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.35);
                border-radius: 4px;
            }
        }

        @include media-breakpoint-down(md) {
            background-color: rgb(var(--clr-white)) !important;
        }
    }

    &.collapsed {        
        @include media-breakpoint-down(sm) {
            // left: $sidebar-width;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 50px;
    }
}

.main-home {
    .main-content-top-contents {
        padding: 15px 0 20px;
    }
}