<ul class="d-flex justify-content-center align-items-center list-unstyled m-0 py-3 product-socials">
    <li>
        <a href="#" mdbTooltip="Facebook" placement="top">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Google plus">
            <fa-icon [icon]="faXTwitter"></fa-icon>
        </a>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
            <fa-icon [icon]="faPinterestP"></fa-icon>
        </a>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
    </li>
    <li>
        <div class="mx-2 bg-gray-dark divider-v">[invisible]</div>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Send to Friend">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
    </li>
    <li>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
            <fa-icon [icon]="faPrint"></fa-icon>
        </a>
    </li>
</ul>