.social {
    &-items {
        max-width: 320px;
        margin: 0 auto;
    }

    &-item {
        width: 36px;
        height: 36px;

        a {
            background: rgb(var(--clr-white));
            color: rgb(var(--clr-dark));
            border: 1px solid rgb(var(--clr-gray));
            font-size: 16px;
            border-radius: 6px;
            box-shadow: rgba(var(--clr-black), 0.2) 0px 1px 1px;;
        }

        &-facebook {
            a {
                &:hover, &:focus, &:active {
                    color: #1384FF;
                    border-color: #1384FF;
                }
            }
        }

        &-twitter {
            a {
                &:hover, &:focus, &:active {
                    color: #55ACEE;
                    border-color: #55ACEE;
                }
            }
        }

        &-linkedin {
            a {
                &:hover, &:focus, &:active {
                    color: #2983c5;
                    border-color: #2983c5;
                }
            }
        }

        &-youtube {
            a {
                &:hover, &:focus, &:active {
                    color: #d60404;
                    border-color: #d60404;
                }
            }
        }

        &-instagram {
            a {
                &:hover, &:focus, &:active {
                    color: #FE4044;
                    border-color: #FE4044;
                }
            }
        }
    }
}