<ul class="w-100 list-unstyled d-flex justify-content-around px-2 social-items">
    <li class="social-item social-item-facebook">
        <a class="w-100 h-100 d-flex align-items-center justify-content-center" href="#">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
    </li>
    <li class="social-item social-item-twitter">
        <a class="w-100 h-100 d-flex align-items-center justify-content-center" href="#">
            <fa-icon [icon]="faXTwitter"></fa-icon>
        </a>
    </li>
    <li class="social-item social-item-instagram">
        <a class="w-100 h-100 d-flex align-items-center justify-content-center" href="#">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
    </li>
    <li class="social-item social-item-youtube">
        <a class="w-100 h-100 d-flex align-items-center justify-content-center" href="#">
            <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
    </li>
    <li class="social-item social-item-linkedin">
        <a class="w-100 h-100 d-flex align-items-center justify-content-center" href="#">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
    </li>
</ul>