.social {
    &-items {
        max-width: 320px;
        margin: 0 auto;
    }

    &-item {
        width: 36px;
        height: 36px;

        a {
            background: rgb(var(--clr-white));
            color: rgb(var(--clr-dark));
            border: 1px solid rgb(var(--clr-gray));
            font-size: 16px;
            border-radius: 6px;
            box-shadow: rgba(var(--clr-black), 0.2) 0px 1px 1px;;
        }

        &-facebook {
            a {
                &:hover, &:focus, &:active {
                    color: rgb(var(--clr-social-facebook));
                    border-color: rgb(var(--clr-social-facebook));
                }
            }
        }

        &-twitter {
            a {
                &:hover, &:focus, &:active {
                    color: rgb(var(--clr-social-twitter));
                    border-color: rgb(var(--clr-social-twitter));
                }
            }
        }

        &-linkedin {
            a {
                &:hover, &:focus, &:active {
                    color: rgb(var(--clr-social-linkedin));
                    border-color: rgb(var(--clr-social-linkedin));
                }
            }
        }

        &-youtube {
            a {
                &:hover, &:focus, &:active {
                    color: rgb(var(--clr-social-youtube));
                    border-color: rgb(var(--clr-social-youtube));
                }
            }
        }

        &-instagram {
            a {
                &:hover, &:focus, &:active {
                    color: rgb(var(--clr-social-pinterest));
                    border-color: rgb(var(--clr-social-pinterest));
                }
            }
        }
    }
}