<!-- <div *ngIf="isLoading" class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <app-card *ngFor="let skel of skeletons" [isLoading]="true"></app-card>
</div> -->

<ng-container *ngIf="!loading">
    <h2 *ngIf="title" class="title mb-4">{{ title }}</h2>
    <h4 *ngIf="subtitle" class="mb-4">{{ subtitle }}</h4>

    <!-- Grid Layout -->
    <div *ngIf="layout === 'grid'" class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        <div class="text-center mt-4" *ngIf="showViewAll">
            <a
              [routerLink]="['/product/shop']"
              [queryParams]="{ filter: filterType }"
              class="inline-block px-6 py-2 bg-primary text-white rounded hover:bg-opacity-90 transition"
            >
              View All
            </a>
        </div>
    </div>

    <!-- List Layout -->
    <div *ngIf="layout === 'list'" class="space-y-4">
        <app-product-card
        *ngFor="let product of products"
        [product]="product"
        class="flex items-center space-x-4"
        ></app-product-card>
    </div>

    <!-- Slider Layout -->
     <div class="shwocase-container slider" *ngIf="layout === 'slider'">
        <swiper-container
            [slidesPerView]="1.3"
            [spaceBetween]="16"
            [breakpoints]="{
            '640': { slidesPerView: 1.3 },
            '768': { slidesPerView: 2.3 },
            '1024': { slidesPerView: 3.3 }
            }"
            navigation
            class="w-full"
        >
            <swiper-slide *ngFor="let product of products">
                <app-product-card [product]="product" [isLoading]="false"></app-product-card>
            </swiper-slide>
        </swiper-container>
        <div class="shwocase-action text-center mt-4" *ngIf="showViewAll">
            <a
              [routerLink]="['/product/shop']"
              [queryParams]="{ filter: filterType }"
              class="btn btn-sm btn-dark"
            >
              View More
            </a>
        </div>
     </div>
</ng-container>