.shwocase {
    $this: shwocase !default;

    &-container {
        position: relative;

        &.slider {
            .#{$this}-action {
                position: absolute;
                top: -100px;
                right: -12px;
                display: inline-flex;
            }
        }
    }
}