<!-- Product key info -->
<div class="product-info">

  <!-- Product name & availability -->
  <div class="product-title">
    <a class="text-secondary text-uppercase fw-bold cursor-pointer">{{ categoryName }}</a>
    <h2 class="product-title--name">
      {{ product.name }}
    </h2>
  </div>
  <!-- ./Product name & availability -->

  <!-- Horizontal divider -->
  <div class="my-3 bg-gray divider-h">[invisible]</div>
  <!-- ./Horizontal divider -->

  <!-- Product price -->
  <div class="d-flex align-items-center">
    <div *ngIf="selectedVariant" class="d-flex align-items-center product-price">
      <span class="d-flex align-items-center" *ngIf="selectedVariant.discountPrice; else regularPrice">
        <span class="product-price--current">
          {{ selectedVariant.discountPrice | currency }}
        </span>
        <span class="ps-2 product-price--original">
          {{ selectedVariant.price | currency }}
        </span>
      </span>
      <ng-template #regularPrice>
        <strong>{{ selectedVariant.price | currency }}</strong>
      </ng-template>
    </div>

    <div class="mx-2 bg-gray divider-v">[invisible]</div>

    <span class="fs-6 fw-bold" [ngClass]="{'in-stock': isInStock(), 'out-of-stock': !isInStock()}">
      {{ isInStock() ? 'In Stock' : 'Out of Stock' }}
    </span>
  </div>
  <!-- ./Product price -->

  <!-- Horizontal divider -->
  <div class="my-3 bg-gray divider-h">[invisible]</div>
  <!-- ./Horizontal divider -->

  <!-- Product review -->
  <div class="d-flex align-items-center product-reviewer">
    <app-star-rating 
      [rating]="avgRating" 
      [supportHalfStar]="true" 
      [showRatingText]="true"
      [ratingLabel]="''" 
      [reviewCount]="product.reviews?.length"
      class="d-flex">
    </app-star-rating>
    <div class="mx-2 bg-gray divider-v">[invisible]</div>
    <div class="product-reviewer--orders">
      <span class="fw-bold">{{ selectedVariant?.totalSold }}</span> sold
    </div>
  </div>
  <!-- ./Product review -->

  <!-- Horizontal divider -->
  <div class="my-3 bg-gray divider-h">[invisible]</div>
  <!-- ./Horizontal divider -->

  <!-- Product options -->
  @if (getOptionNames().length) {
    <div *ngFor="let optionName of getOptionNames()">
      @if (optionName === 'Color') {
        <div class="pt-3">
          <span class="flex fw-bold text-uppercase">{{ optionName }}:</span>
          <div class="custom-radios d-flex align-items-center mt-2" style="column-gap: 6px;">
            <div 
              *ngFor="let value of groupedOptions[optionName]; let i = index;" 
              (click)="onOptionSelect(optionName, value)"
              [class.selected]="selectedOptions[optionName] === value">
              <input type="radio" [id]="'color-'+i" name="color" [value]="'color-'+i" checked>
              <label [for]="'color-'+i">
                <span [style]="'background-color:'+value">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>
              </label>
            </div>
          </div>
        </div>
      }

      @if (optionName === 'Size') {
        <div>
          <span class="flex align-items-center fw-bold text-uppercase pb-2">
            Size:
            <a href="#" data-bs-toggle="modal" data-bs-target="#productSizeChart"
              class="fw-normal text-capitalize">Size chart</a>
          </span>
          <ul class="d-flex list-unstyled m-0 mt-2 p-0" style="column-gap: 6px;">
            <li
              *ngFor="let value of groupedOptions[optionName]; let i = index;" 
              (click)="onOptionSelect(optionName, value)"
              [class.selected]="selectedOptions[optionName] === value"
            >
              <label class="mb-0 custom-radio custom-radio--size">
                <input type="radio" name="size" [value]="value">
                <span class="d-inline-flex justify-content-center align-items-center text-uppercase">
                  {{ value | charInitials:{take: 2} }}
                </span>
              </label>
            </li>
          </ul>
        </div>
      }
    </div>
  } @else {
    <p>No options are found</p>
  }

  <p *ngIf="!selectedVariant">No variant matched</p>

  <!-- Fallback -->
  <div *ngIf="!selectedVariant && product.variants?.length">
    <p class="text-warning">Please select all options to view variant details.</p>
  </div>
  <!-- ./Product options -->

  <!-- Horizontal divider -->
  <div class="my-3 bg-gray divider-h">[invisible]</div>
  <!-- ./Horizontal divider -->

  <!-- Product quantity -->
  <div class="d-flex align-items-center">
    <app-quantity-selector
        [productVariantStock]="product.variant.stock"
        [showAvailable]="true"
        (quantityChange)="onQuantityChange($event)"
        (stockOut)="onStockOut()"
    ></app-quantity-selector>

    <div class="mx-2 bg-gray divider-v">[invisible]</div>

    <span class="d-inline-block ps-1 fw-bold">{{ displayPrice | currency }}</span>
  </div>
  <!-- ./Product quantity -->

  <!-- Horizontal divider -->
  <div class="my-3 bg-gray divider-h">[invisible]</div>
  <!-- ./Horizontal divider -->

  <!-- Product action buttons -->
  <div class="d-flex product-actions">
    <button class="btn btn-primary" [disabled]="!isInStock()" (click)="addToCart()">Add to Cart</button>
    <button type="button" class="btn btn-light" data-bs-toggle="tooltip"
      data-bs-placement="top" title="Add to Wishlist">
      <fa-icon [icon]="faHeart"></fa-icon> 130
    </button>
    <button type="button" class="btn btn-light" data-bs-toggle="tooltip"
      data-bs-placement="top" title="Add to Compare">
      <fa-icon [icon]="faCodeCompare"></fa-icon>
    </button>
  </div>
  <!-- ./Product action buttons -->

</div>
<!-- ./Product key info -->