<ng-container [ngSwitch]="styleType">
    <div *ngSwitchCase="'default'" class="default-style">
        <ul *ngIf="categories">
            @for (category of categories; track $index) {
                <li [class.active]="category.id === selectedCategoryId">
                    <a (click)="onCategorySelect(category.id)">{{ category.name }}</a>
                </li>
            }
        </ul>
    </div>

    <div *ngSwitchCase="'list'" class="list-style">
        <ul *ngIf="categories">
            @for (category of categories; track $index) {
                <li class="d-flex align-items-center" [class.active]="category.id === selectedCategoryId" (click)="onCategorySelect(category.id)">
                    <div class="category-img">
                        <img [src]="category.image || fallbackImg" [alt]="category.name" />
                        <div class="d-flex align-items-center justify-content-center product-count">
                            {{ category.productCount || 0 }}
                        </div>
                    </div>
                    <a (click)="onCategorySelect(category.id)">{{ category.name }}</a>
                </li>
            }
        </ul>
    </div>

    <div *ngSwitchCase="'grid'" class="grid-style">
        <div class="category-grid">
            @for (category of categories; track $index) {
                <div class="category-item">
                    <div class="category-image" [ngStyle]="{'background-image': 'url(' + category.image + ')'}"></div>
                    <div class="category-info">
                        <h3>
                            <a (click)="onCategorySelect(category.id)">{{ category.name }}</a>
                        </h3>
                        <span>{{ category.productCount || 0 }} Products</span>
                        <div class="d-block">
                            <a class="btn-icon-2" (click)="onCategorySelect(category.id)">View More</a>
                        </div>
                    </div>
                    <!-- <img [src]="category.image" [alt]="category.name" /> -->
                </div>
            }
        </div>
    </div>

    <div *ngSwitchCase="'pill'" class="pill-style">
        <ul *ngIf="categories">
            <li (click)="selectCategory(null)">All</li>
            @for (category of categories; track $index) {
                <li [class.active]="category.id === selectedCategoryId">
                    <a (click)="onCategorySelect(category.id)">{{ category.name }}</a>
                </li>
            }
        </ul>
    </div>

    <div *ngSwitchCase="'sidebar'">
        <ul class="m-0 p-0 w-100 category-list" *ngIf="categories">
            <!-- All Categories option -->
            <li class="category-list-item" 
                [class.active]="selectedCategoryId === null"
                (click)="selectCategory(null)">
                <a href="javascript:void(0)">All Categories</a>
            </li>
            
            <!-- Individual categories -->
            <li *ngFor="let category of categories" 
                class="category-list-item"
                [class.active]="selectedCategoryId === category.id"
                (click)="selectCategory(category.id)">
                <a href="javascript:void(0)">{{ category.name }}</a>
            </li>
        </ul>
    </div>
</ng-container>