
:host {
    &.icon-large {
        .star-icon {
            font-size: 30px;
        }
    }
}

.star-icon {
    font-size: 18px;
    color: rgb(var(--clr-gray-dark)); // Empty star color
    transition: color 0.3s ease;

    &.filled {
        color: rgb(var(--clr-yellow)); // Gold color
    }

    &.half {
        background: linear-gradient(to right, rgb(var(--clr-yellow)) 50%, rgb(var(--clr-gray-dark)) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}