<div class="cart-mini" (click)="toggleCart()">
    <div class="d-flex cart-mini-anchor" id="cartMini">
        <div class="position-relative d-inline-flex align-items-center justify-content-center cart-mini-mask">
            <div class="position-absolute d-flex align-items-center justify-content-center cart-mini-count">
              {{ cartItemsQuantity$ | async }}
            </div>
            <fa-icon [icon]="faBagShopping" class="cart-mini-icon"></fa-icon>
        </div>
        <div class="d-none d-md-flex flex-column text-end text-uppercase cart-mini-info">
            <span class="cart-mini-name">My Cart</span>
            <span class="cart-mini-amount">{{ subtotal$ | async | currency }}</span>
        </div>
    </div>
</div>

<app-sidebar 
  [id]="sidebarId" 
  title="Shopping Cart" 
  position="right"
  width="350px"
  (isOpenChange)="!$event && cartClosed.emit()">
  <div class="p-3 border-bottom border-top shadow-lg" [class.d-none]="(cartItems$ | async)?.length === 0">
    <div class="small text-center">
      <ng-container *ngIf="(subtotal$ | async) as currentSubtotal">
        <ng-container *ngIf="currentSubtotal >= 200; else needMore">
          You qualify for <strong class="text-secondary">FREE SHIPPING!</strong>
        </ng-container>
        <ng-template #needMore>
          Add <strong class="text-success">{{ 200 - currentSubtotal | currency }}</strong> more for <strong class="text-success">FREE SHIPPING</strong>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="cart-items" [class.empty]="(cartItems$ | async)?.length === 0">
    <ng-container *ngIf="(cartItems$ | async) as items">
      <ng-container *ngIf="items.length > 0; else emptyCart">
        <div class="cart-item p-3 border-bottom" *ngFor="let item of cartItems$ | async; trackBy: trackByItem">
          <div class="d-flex mb-3">
            <img [src]="item.product.main_image_url || item.product.variants?.[0]?.product_images?.[0]?.image_url || fallbackUrl" 
                 [alt]="item.product.name" 
                 width="80" 
                 class="rounded me-3 object-fit-cover">
            <div class="flex-grow-1">
              <div class="d-flex justify-content-between">
                <h6 class="mb-1">{{ item.product.name }}</h6>
                <button class="btn btn-link text-danger p-0" (click)="removeItem(item)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
              <!-- <small class="text-muted">{{ item.variant }}</small> -->
              <small class="text-muted d-block mb-2">
                {{ item.variant.sku }}
              </small>
              <!-- <div class="d-flex align-items-center mb-2">
                <button class="btn btn-sm btn-outline-secondary px-2 py-0" 
                        (click)="decrementQuantity(item)">
                  -
                </button>
                <span class="px-3">{{ item.quantity }}</span>
                <button class="btn btn-sm btn-outline-secondary px-2 py-0" 
                        (click)="incrementQuantity(item)">
                  +
                </button>
              </div> -->
              <app-quantity-selector
                [quantity]="item.quantity"
                [min]="1"
                [max]="item.variant.stock"
                (quantityChange)="updateCartQuantity(item, $event)">
              </app-quantity-selector>
              <!-- <div class="mt-1">
                <small class="text-muted text-decoration-line-through" *ngIf="item.oldPrice">${{ item.oldPrice }}</small>
                <strong class="text-danger ms-1">${{ item.price }}</strong>
              </div> -->
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <small class="text-muted text-decoration-line-through me-2" 
                         *ngIf="item.variant.discountPrice">
                    {{ item.variant.price | currency }}
                  </small>
                  <strong class="text-primary">
                    {{ (item.variant.discountPrice ?? item.variant.price) | currency }}
                  </strong>
                </div>
                <strong>
                  {{ ((item.variant.discountPrice ?? item.variant.price) * item.quantity) | currency }}
                </strong>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    
    <ng-template #emptyCart>
      <div class="text-center py-5">
        <i class="bi bi-cart-x text-muted" style="font-size: 2.5rem;"></i>
        <h5 class="mt-3">Your cart is empty</h5>
        <p class="text-muted">Start shopping to add items to your cart</p>
        <button class="btn btn-primary mt-2" routerLink="/products" (click)="closeSidebar()">
          Continue Shopping
        </button>
      </div>
    </ng-template>
  </div>

  <div class="p-3 border-top" [class.d-none]="(cartItems$ | async)?.length === 0">
    <div class="d-flex justify-content-between fw-bold mb-2">
      <span>Subtotal:</span>
      <span>{{ subtotal$ | async | currency }}</span>
    </div>
    <small class="text-muted d-block mb-3">
      Taxes and shipping calculated at checkout
    </small>
    
    <div class="d-grid gap-2">
      <button class="btn btn-outline-secondary" 
              routerLink="/cart" 
              (click)="closeSidebar()">
        View Cart
      </button>
      <button class="btn btn-primary" 
              [disabled]="(cartItems$ | async)?.length === 0"
              routerLink="/checkout"
              (click)="closeSidebar()">
        Proceed to Checkout
      </button>
    </div>
  </div>
</app-sidebar>

<!-- Overlay -->
<!-- <div class="cart-overlay" *ngIf="isOpen" (click)="closeSidebar()"></div> -->

<!-- Sidebar -->
<!-- <div class="cart-sidebar d-flex flex-column bg-white shadow-lg" [class.open]="isOpen">
  <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
    <h5 class="m-0 fw-bold">Shopping Cart</h5>
    <button class="btn-close" (click)="closeSidebar()"></button>
  </div>

  <div class="p-3 border-bottom border-top shadow-lg">
    <div class="small">
        @if (subtotal >= 200) {
            You will get <strong class="text-danger">FREE SHIPPING!</strong>
        } @else {
            Add <strong class="text-danger">${{(200 - subtotal)}}</strong> more to get <strong class="text-danger">FREE SHIPPING!</strong>
        }
    </div>
  </div>

  <div class="cart-items">
    <div class="cart-item p-3" *ngFor="let item of cartItems">
        <div class="d-flex mb-3">
          <img [src]="item.image" alt="item.name" width="60" class="rounded me-2" />
          <div class="flex-grow-1">
            <div class="fw-semibold">{{ item.name }}</div>
            <small class="text-muted">{{ item.variant }}</small>
            <div class="d-flex align-items-center mt-1">
              <button class="btn btn-sm btn-outline-secondary px-2 py-0">-</button>
              <span class="px-2">{{ item.quantity }}</span>
              <button class="btn btn-sm btn-outline-secondary px-2 py-0">+</button>
            </div>
            <div class="mt-1">
              <small class="text-muted text-decoration-line-through" *ngIf="item.oldPrice">${{ item.oldPrice }}</small>
              <strong class="text-danger ms-1">${{ item.price }}</strong>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="p-3 border-top">
    <div class="d-flex justify-content-between fw-bold mb-2">
      <span>Subtotal:</span>
      <span>${{ subtotal.toFixed(2) }}</span>
    </div>
    <small class="text-muted">Taxes, shipping and discounts codes calculated at checkout</small>

    <div class="form-check my-2">
      <input class="form-check-input" type="checkbox" id="agree" />
      <label class="form-check-label small" for="agree">
        I agree with the terms and conditions.
      </label>
    </div>

    <div class="d-grid gap-2 mt-2">
      <button class="btn btn-outline-secondary">View Cart</button>
      <button class="btn btn-info text-white">Check Out</button>
    </div>
  </div>
</div> -->