<!-- Product Details -->
<section class="com-product-details">

    <!-- Breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-breadcrumb 
                    [categoryName]="categoryName" 
                    [categoryId]="product.category_id" 
                    [productName]="product.name">
                </app-breadcrumb>
            </div>
        </div>
    </div>
    <!-- ./Breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Product info top -->
                <div class="bg-white rounded-3 product-info-top">
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Product gallery -->
                            <div class="media-container">
                                <div class="main-image">
                                    <!-- <img
                                    *ngIf="!isVideo()"
                                    [src]="selectedImageUrl"
                                    ngxImageZoom
                                    alt="Product image"
                                /> -->
                                    <lib-ngx-image-zoom [thumbImage]="selectedImageUrl" [fullImage]="selectedImageUrl"
                                        [magnification]="2" [zoomMode]="'hover'" [enableLens]="true" [lensWidth]="150"
                                        [lensHeight]="150" class="zoomed-img" style="display: block;"></lib-ngx-image-zoom>
                                    <video *ngIf="isVideo()" [src]="selectedImageUrl" controls width="100%"></video>
                                </div>

                                <div class="product-images" *ngIf="productImages.length > 0">
                                    <div class="thumbnails" *ngFor="let img of productImages" (click)="mediaClicked(img.image_url)">
                                        <img [src]="img.image_url" [alt]="product.name" class="thumbnail" />
                                    </div>
                                </div>
                            </div>
                            <!-- ./Product gallery -->

                        </div>

                        <div class="col-md-6">

                            <!-- Product info -->
                            <app-product-info
                                [product]="product"
                                [categoryName]="categoryName"
                                [selectedVariant]="selectedVariant"
                                [avgRating]="avgRating"
                                [groupedOptions]="groupedOptions"
                                [selectedOptions]="selectedOptions"
                                [selectedQuantity]="selectedQuantity"
                                [displayPrice]="displayPrice"
                                (optionSelected)="onOptionSelect($event.optionName, $event.optionValue)"
                                (quantityChanged)="selectedQuantity = $event"
                                (addToCartClicked)="addToCart()"
                            ></app-product-info>
                            <!-- ./Product info -->

                        </div>
                    </div>
                </div>
                <!-- ./Product info top -->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-product-socials></app-product-socials>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column h-100 rounded-3 bg-white p-3 product-desc">
                    <mdb-tabs class="custom-tabs">
                        <mdb-tab title="Overview">
                            <app-product-description [product]="product"></app-product-description>
                        </mdb-tab>
                        <mdb-tab title="Warranty & Shipping">
                            <p>Warranty & Shipping information goes here.</p>
                        </mdb-tab>
                        <mdb-tab title="Reviews">
                            <app-product-reviews
                                [reviews]="product.reviews || []"
                                [userLoggedIn]="userLoggedIn"
                                [currentUserId]="authService.getCurrentUserSync()?.id ?? null"
                                (reviewAdded)="submitReview($event)"
                                (reviewUpdated)="updateReview($event.reviewId, $event.rating, $event.text)"
                                (reviewDeleted)="deleteReview($event)"
                            ></app-product-reviews>
                        </mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ./Product Details -->