<!-- Product Details -->
<section class="com-product-details">

    <!-- Breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-breadcrumb 
                    [categoryName]="categoryName" 
                    [categoryId]="product.category_id" 
                    [productName]="product.name">
                </app-breadcrumb>
            </div>
        </div>
    </div>
    <!-- ./Breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Product info top -->
                <div class="bg-white rounded-3 product-info-top">
                    <div class="row">
                        <div class="col-md-6">

                            <!-- Product gallery -->
                            <app-product-gallery 
                            [productImages]="productImages" 
                            [selectedImageUrl]="selectedImageUrl"
                            [isVideo]="isVideo"
                            (mediaSelected)="mediaClicked($event)">
                            </app-product-gallery>
                            <!-- ./Product gallery -->

                        </div>

                        <div class="col-md-6">

                            <!-- Product info -->
                            <app-product-info
                                [product]="product"
                                [categoryName]="categoryName"
                                [selectedVariant]="selectedVariant"
                                [avgRating]="avgRating"
                                [groupedOptions]="groupedOptions"
                                [selectedOptions]="selectedOptions"
                                [selectedQuantity]="selectedQuantity"
                                [displayPrice]="displayPrice"
                                (optionSelected)="onOptionSelect($event.optionName, $event.optionValue)"
                                (quantityChanged)="selectedQuantity = $event"
                                (addToCartClicked)="addToCart()"
                            ></app-product-info>
                            <!-- ./Product info -->

                        </div>
                    </div>
                </div>
                <!-- ./Product info top -->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-product-socials></app-product-socials>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column h-100 rounded-3 bg-white p-3 product-desc">
                    <ul ngbNav #nav="ngbNav" class="custom-tabs nav-tabs">
                        <li [ngbNavItem]="1">
                            <button ngbNavLink>Overview</button>
                            <ng-template ngbNavContent>
                                <app-product-description [product]="product"></app-product-description>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <button ngbNavLink>Warranty & Shipping</button>
                            <ng-template ngbNavContent>
                                <p>Warranty & Shipping information goes here.</p>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <button ngbNavLink>Reviews</button>
                            <ng-template ngbNavContent>
                                <app-product-reviews
                                    [reviews]="product.reviews || []"
                                    [userLoggedIn]="userLoggedIn"
                                    [currentUserId]="authService.getCurrentUserSync()?.id ?? null"
                                    (reviewAdded)="submitReview($event)"
                                    (reviewUpdated)="updateReview($event.reviewId, $event.rating, $event.text)"
                                    (reviewDeleted)="deleteReview($event)"
                                ></app-product-reviews>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ./Product Details -->