<ul class="m-0 list-unstyled d-flex justify-content-center justify-content-md-end cards-accept-items">
    <li class="cards-accept-item">
        <fa-icon [icon]="faCcPaypal"></fa-icon>
    </li>
    <li class="cards-accept-item">
        <fa-icon [icon]="faCcVisa"></fa-icon>
    </li>
    <li class="cards-accept-item">
        <fa-icon [icon]="faCcMastercard"></fa-icon>
    </li>
    <li class="cards-accept-item">
        <fa-icon [icon]="faCcStripe"></fa-icon>
    </li>
    <li class="cards-accept-item">
        <fa-icon [icon]="faCcDiscover"></fa-icon>
    </li>
</ul>