@import 'bootstrap-bp.scss';

.cards-accept {
    &-header {

    }

    &-items {
        gap: 8px;
    }

    &-item {        
        margin-right: 3px;
        font-size: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
    }
}