
$primary:           #606C38;
$primary-light:     #93A655;
$primary-dark:      #283618;
$secondary:         #DDA15E;
$secondary-light:   #FCC281;
$secondary-dark:    #BC6C25;
$success:           #38B000;
$info:              #F7A51B;
$warning:           #F7A51B;
$danger:            #EF233C;
$light:             #F2F2F2;
$dark:              #222831;
$gray:              #F2F2F2;
$gray-light:        #EEEEEE;
$gray-dark:         #DDDDDD;
$gray-darker:       #8890A0;

:root {
    --clr-primary-custom:           96, 108, 56;    // #AB886D
    --clr-primary-light:            147, 166, 85;   // #D6C0B3
    --clr-primary-dark:             40, 54, 24;     // #493628
    --clr-secondary-custom:         221, 161, 94;   // #656D4A;
    --clr-secondary-light:          252, 194, 129;  // #A4AC86;
    --clr-secondary-dark:           188, 108, 37;   // #414833;
    --clr-white:                    255, 255, 255;  // #FFFFFF;
    --clr-black:                    0, 0, 0;        // #000000;
    --clr-dark:                     34, 40, 49;     // #222831;
    --clr-dark-light:               57, 62, 70;     // #393E46;
    --clr-dark-lighter:             82, 82, 82;     // #525252;
    --clr-gray:                     242, 242, 242;  // #F2F2F2;
    --clr-gray-light:               238, 238, 238;  // #EEEEEE;
    --clr-gray-dark:                221, 221, 221;  // #DDDDDD;
    --clr-gray-darker:              136, 144, 160;  // #8890A0;
    --clr-green:                    56, 176, 0;     // #38B000;
    --clr-red:                      239, 35, 60;    // #EF233C;
    --clr-yellow:                   255, 182, 39;   // #FFB627;

    --sidebar-width:                280px;

    --grid-gap: 20px;
    --item-radius: 8px;
    --content-padding: 15px;
    --content-bg: rgba(0, 0, 0, 0.7);
    --text-color: #ffffff;
}