@import 'bootstrap-bp.scss';

.average-rating {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 24px;
    margin-bottom: 16px;
}

.rating-distribution {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;

    @include media-breakpoint-down(md) {
        width: 100%;
        justify-content: flex-start;
    }
}

.distribution-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.star-label {
    width: 32px;
    font-size: 16px;
}

.progress-bar {
    background-color: rgb(var(--clr-gray-dark));
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 16px;

    @include media-breakpoint-down(md) {
        width: calc(100% - 32px);
    }
}

.progress-fill {
    background-color: rgb(var(--clr-green-alt));
    height: 100%;
    color: rgb(var(--clr-white));
    font-size: 12px;
    padding-left: 4px;
    line-height: 16px;
}

.star-icon {
    color: rgb(var(--clr-gold));
}