<!-- Skeleton View -->
<div class="product-card shimmer" *ngIf="!imageVisible && isLoading">
    <div class="skeleton-image"></div>
    <div class="skeleton-line short"></div>
    <div class="skeleton-line"></div>
    <div class="skeleton-line"></div>
</div>

<div #imgContainer class="product-card" *ngIf="!isLoading">
    <div class="product-image-wrapper">
        <div
            #imageEl
            class="product-image set-bg shimmer-bg"
            [class.loaded]="imageVisible"
            [style.background-image]="imageVisible ? 'url(' + imageUrl + ')' : null">
        </div>
        <div class="product-image-hover" [style.background-image]="imageVisible ? 'url(' + imageUrl + ')' : null"></div>
        <!-- <img
            #imageEl
            [src]="imageVisible ? imageUrl : null"
            [class.loaded]="imageVisible"
            [alt]="product.name"
            class="product-image"
        /> -->
      <!-- <img src="iphone15pro.png" alt="Apple iPhone 15 Pro" class="product-image" /> -->
    </div>
    <!-- Quantity Selector (Optional) -->
    <!-- <div class="quantity-selector" *ngIf="product.variants?.length === 0">
        <button (click)="decrementQuantity()" class="btn-quantity">-</button>
        <span class="quantity">{{ quantity }}</span>
        <button (click)="incrementQuantity()" class="btn-quantity">+</button>
    </div> -->
    <div class="action-icons">
        <button class="icon-btn wishlist" appUnderDevelopment>
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        <button class="icon-btn quick" appUnderDevelopment>
            <fa-icon [icon]="faEye"></fa-icon>
        </button>
        <button class="icon-btn compare" appUnderDevelopment>
            <fa-icon [icon]="faRightLeft"></fa-icon>
        </button>
    </div>
    <div class="product-details">
      <!-- <h3>{{ product.name }}</h3> -->
      <a [routerLink]="['/product/detail', product.id]" class="w-100 btn btn-outline-brand-secondary">
              {{ product.name }}
    </a>
      <!-- <div class="rating">
        <span>★★★★★</span>
        <span class="reviews">💬 97</span>
      </div> -->
      <app-star-rating class="d-flex py-2 text-black" [rating]="avgRating" [reviewCount]="product.reviews?.length"></app-star-rating>
       
      <div class="price-section">
        <div class="original-price">${{ product.variants?.[0]?.price }}</div>
        <div class="final-price">${{ product.variants?.[0]?.discountPrice }}</div>
      </div>
    </div>
    <button class="cart-btn" (click)="addToCart()" [disabled]="isAddingToCart">
        <fa-icon [icon]="faCartPlus"></fa-icon>
        <span *ngIf="isAddingToCart" class="spinner-border spinner-border-sm"></span>
    </button>
  </div>
  

<!-- <div class="card product-card" *ngIf="!isLoading">
    <div class="position-relative product-card__img-wrapper">
        <a href="#">
            <div
                #bgImageEl
                class="featured__item__pic set-bg shimmer-bg"
                [class.loaded]="imageVisible"
                [style.background-image]="imageVisible ? 'url(' + backgroundUrl + ')' : null">
            </div>
        </a>
        <div class="d-flex justify-content-center align-items-center position-absolute product-card__ribbon">
            40% off
        </div>
        <div class="d-flex justify-content-center align-items-center position-absolute product-card__buttons product-card__buttons--sm">
            <a href="#" class="btn-sm btn__wishlist"><i
                    class="far fa-heart"></i></a>
            <a href="#" class="btn btn__cart">
                <i class="fas fa-cart-plus fa-2x position-absolute btn__icon--cart"></i>
                <span>Add to Cart</span>
            </a>
            <a href="#" class="btn-sm btn__compare">
                <i class="fas fa-exchange-alt"></i>
            </a>
        </div>
    </div>
    <div class="py-2 px-3 d-flex flex-column justify-content-between product-card--description">
        <div class="product-card--desc">
            <div class="d-flex align-items-center p-0 mb-2 product-card__name">
                <a href="#" class="text-truncate">{{ product.name }}</a>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam
            </p>
        </div>
        <div class="product-card--tags">
            <ul class="mb-0 list-inline">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-tag"></i> tag 1
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-tag"></i> tag 2
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-tag"></i> tag 3
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-tag"></i> tag 4
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-tag"></i> tag 5
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-0 product-card__overview">
        <div class="d-flex justify-content-between align-items-center grid-view product-card__info">
            <div class="d-block product-card__rating">
                <i class="fas fa-star "></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <div class="d-block product-card__price">
                <span class="product-card__price--old">$59.00</span>
                <span class="product-card__price--new">$99.00</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center list-view product-card__info-list">
            <div class="d-block pb-2 product-card__price">
                <span class="product-card__price--old">$59.00</span>
                <span class="product-card__price--new">$99.00</span>
            </div>
            <div class="d-block product-card__rating">
                <i class="fas fa-star "></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <span class="d-flex my-2 text-muted">155 Sold</span>
            <span class="d-flex text-uppercase color-green">Free Shipping</span>
        </div>
        <div class="d-flex justify-content-center align-items-center product-card__name">
            <a href="#" class="text-truncate">
                {{ product.name }}
            </a>
        </div>
    </div>
</div> -->

<!-- <div class="featured__item" *ngIf="!isLoading">
    <div 
        #bgImageEl
        class="featured__item__pic set-bg shimmer-bg"
        [class.loaded]="imageVisible"
        [style.background-image]="imageVisible ? 'url(' + backgroundUrl + ')' : null"
    >
        <ul class="featured__item__pic__hover">
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a [routerLink]="['/product/detail', product.id]" routerLinkActive="router-link-active"><i
                        class="fa fa-retweet"></i></a></li>
            <li><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <div class="featured__item__text">
        <h6><a [routerLink]="['/product/detail', product.id]" routerLinkActive="router-link-active">{{ product.name
                }}</a></h6>
        <h5>${{ product.price }}</h5>
    </div>
</div> -->